.jumbotron {
  color: #2C464F;
  background-color: #F8F6ED;
  border: 2px solid #888888;
  margin-top: 10px;
}
.img-circle{
  width: 175px;
  height: 275px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sidebar .img-circle{
  width: 100px;
  height: 175px;
}
.col-md-4{
  padding-top: 10%;
  display: block;
  text-align: center;
}
h1, h2, h3, h4{
  text-align: center;
  color: #2C464F;
  font-family: 'Amatic SC', cursive;
}
.sidebar{
  float: left;
  height: 800px;
  background-color: #F8F6ED;
  width: 15%;
}
.column{
  text-align: left;
  color: #2C464F;
  float: left;
  width: 28%;
  height: 800px;
  padding: 10px;
  border-bottom: 2px solid #888888;
  border-top: 2px solid #888888;
  border-right: 2px solid #888888;
}
.column#current{
  background-color: white;
  border-left: 2px solid #888888;
}
.column#job{
  background-color: #CED3CF;
}
.column#edu{
  background-color: #E4E4E4;
}
.cheetah{
  color: #a82d50;
  font-size: 16px;
  font-style: italic;
}
.aboutme{
  padding-top: 5%;
  padding-left: 5%;
  margin-left: 200px;
  color: #2C464F;
  font-size: 14px;
}
.aboutme h2{
  text-align: left;
  border-bottom: 2px solid #888888;
  width: 500px;
}
